# Python virtual environments
.venv/
.venv*/
venv/
venv*/
**/.venv/
**/.venv*/
**/venv/
**/venv*/
python/.venv*/
python/venv*/

# Python cache folders
**/__pycache__/
*.pyc
*.pyo
*.pyd

# pytest cache folder
**/.pytest_cache/
